.table-hover tbody tr:hover,
.table-hover>tr:hover {
 background:#ffd!important;
}
.table-striped tbody tr:nth-of-type(odd),
.table-striped>tr:nth-of-type(odd) {
 background:#f8f8f8;
 border-top:1px solid #e5e5e5;
 border-bottom:1px solid #e5e5e5
}
.card-primary.card-outline {
  border-top: 3px solid #1202d0;
}
.uk-invisible {
 visibility:hidden!important
}
/* @media screen and (min-device-width: 320px) and (max-device-width: 960px) { 
#tooltip {
   visibility:hidden!important;
  display: none !important;
}
} */
/* @media (max-width: 960px) (hover:none){
#tooltip {

   visibility:hidden!important;
  display: none !important;

}
} */
@media (max-width:959px) {
/* #tooltip {

  display: none !important;
} */
 .tooltip .tooltip-inner {
  display: none !important;
 }

}
@media (min-width:960px) {
 .tooltip .tooltip-inner {
  display: block !important;
 }
}

hr {
  height: 1.5px !important;
  padding: 0 !important;
  margin: 0 !important;
  border: 0 !important;
  opacity: 0.4;
}
.uk-accordion-title::before {
display: none !important;
 content:"";
 width:1.4em;
 height:1.4em;
 margin-left:10px;
 float:right;
 background-image:none !important;
 background-repeat:no-repeat;
 background-position:50% 50%
}
.uk-open>.uk-accordion-title::before {
 background-image:none !important;
}

.fixed-plugin-button {
  background: #fff;
  border-radius: 50%;
  bottom: 30px;
  right: 30px;
  font-size: 1.25rem;
  z-index: 990;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.16);
  cursor: pointer;
}
